<table>
    <tr>
        <td>
            @if(isStaticNoteVisible) {
                <h2>This is a static note with true value!</h2>
            } @else {
                <h2>This is a static note with false value!</h2>
            }
        </td>
    </tr>
</table>

<table>
    <tr>
        <td>
            @if(isNoteVisible===true) {
                <p>This is a static note with true value!</p>
            } 
        </td>
        <td>
            <button (click)="showNote()">Show Note</button>
        </td>
        <td>
            <button (click)="hideNote()">Hide Note</button>
        </td>
    </tr>
</table>

<table>
    <tr>
        <button (click)="toggleNote()">
            {{ isParagraphVisible ? 'Hide' : 'Show' }} 
        </button>

    @if (isParagraphVisible) {
        <p>This is the paragraph content.</p>
    }
    </tr>
</table>

<table>
    <tr>
        <td>
            @if(monthNameStatic == "January"){
                <p>January</p>
            } @else if (monthNameStatic == "February") {
                <p>February</p>
            } @else if (monthNameStatic == "March") {
                <p>March</p>
            }
        </td>
    </tr>
</table>

<table>
    <tr>
        <td> 
            @if(monthNameDynamic == "January"){
                <p>January</p>
            } @else if (monthNameDynamic == "February") {
                <p>February</p>
            } @else if (monthNameDynamic == "March") {
                <p>March</p>
            } @else {
                <p>Wrong Input</p>
            }
        </td>
        <td>
            <input type="text" [(ngModel)]="monthNameDynamic">
        </td>
    </tr>
</table>

<table>
    <tr>
        <td>
            <ul>
                @for (item of cityList; track $index){
                    <li>{{ item }}</li>
                }
            </ul>
        </td>
    </tr>
</table>

<table>
    <thead>
        <tr>
            <th>Student No</th>
            <th>Name</th>
            <th>Course</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @for (item of studentList; track $index){
            <tr>
                <td>{{ $index }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.course }}</td>
                <td>
                    @if (item.isActive == true){
                        <p>Active</p>
                    } @else {
                        <p>Inactive</p>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>